body {
    background-color: #849d8f;
    color: #fff;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    line-height: 1.2;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.btn {
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	font-weight: bold;
	line-height: 24.3px;
	color: #fff;
	border-radius: 30px;
	text-decoration: none;
	padding: 4px 30px 8px;
	background: #f26843;
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border: none;
	box-shadow: 0 1px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 1px 2px rgba(172, 16, 0, 1);
}

.btn:active {
	outline: none;
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  	box-shadow: inset 0 1px 2px rgba(172, 16, 0, 1);
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
    min-width: 900px;
		background-repeat: no-repeat;
  	background-position: top center;

/*  	transition: background-image 0.5s ease, background-color 0.5s ease;*/
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url("../img/slider-main-pic1.png");
}

.site-wrapper:after {
  background-image: url("../img/slider-main-pic2.png");
}

.site-wrapper--gradient {
	position: relative;
	height: 647px;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, 0));
	background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, 0));
}

.content-wrapper {
	position: relative;
	min-width: 860px;
	max-width: 1143px;
	margin: 0 auto;
	padding: 0 2.3%;
}


/*               ШАПКА            */



.main-header {
	font-family: "Roboto";
	font-weight: 500;
	padding-top: 9px;
}

.main-header__left-column {
	float: left;
	width: 565px;
}

.logo {
  width: 154px;
	height: 64px;
  margin-left: -5px;
	float: left;
}

.main-nav {
  width: 396px;
	min-height: 65px;
  float: left;
	font-size: 16px;
	padding-left: 14px;
}

.main-nav a {
	color: #fff;
	text-decoration: none;
}

.main-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.item-top {
	float: left;
	margin-top: 18px;
	margin-right: 5px;
}

.item-top a {
	padding-left: 14px;
	padding-right: 14px;
}

.item-top span {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.item-top:hover span {
	border-bottom: none;
}

.item-top > a:hover, .list-nav:hover > a {
	border: 1px solid #fff;
	color: #000;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 5px 13px;
	border-radius: 20px;
}

.item-top a:active {
	border: none;
	color: #333;
	background-color: #ededed;
	padding: 6px 14px;
	border-radius: 20px;
	box-shadow: inset 0px 1px 2px #696969;
}

.item-top--inner span {
	color: #fff;
	background-color: #d07058;
	padding: 6px 14px;
	padding-bottom: 8px;
	border-radius: 20px;
	border: none;
	cursor: default;
}

.item-down--inner {
	color: #fff;
	background-color: #d07058;
	font-weight: normal;
	padding: 6px 16px;
	padding-left: 19px;
	margin: 5px auto;
	cursor: default;
}

.list-nav {
	position: relative;
	padding-bottom: 12px;
}

.list-nav .item-down {
	position: absolute;
	display: none;
	min-width: 145px;
	top:31px;
	left: -5px;
	font-size: 14px;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 30px 2px rgba(0, 0, 0, 0.35);
	z-index: 10;
}

.list-nav:hover .item-down{
	display: block;
	z-index: 100;
}

.item-down a {
	display: block;
	font-weight: normal;
	color: #343434;
	padding: 6px 16px;
	padding-left: 19px;
	margin: 5px auto;

}

.item-down a:hover {
	border: none;
	border-radius: 0;
	background-color: #fbded7;
	padding: 6px 16px;
	padding-left: 19px;
}

.item-down a:active {
	background-color: #f6b5a5;
	box-shadow: none;
}

.item-down li:first-child a{
	padding-left: 10px;
	padding-right: 0px;
}

.new-items {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
	font-weight: 700;
	padding-left: 10px;
	padding-right: 58px;
	padding-bottom: 7px;
}

.user-block {
	float: right;
	width: 270px;
	font-size: 14px;
	font-weight: 500;
	text-align: right;
	padding-top: 15px;
}

.search {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 17px;
	background-color: rgba(255, 255, 255, 0.2);
	background-image: url(../img/icons/bg-search.svg);
	background-repeat: no-repeat;
	background-position: 8px 8px;
	border-radius: 50%;
	font-size: 0;
	cursor: pointer;
}

.search:hover {
	background-color: #f8f7f4;
	background-image: url(../img/icons/bg-search-hov.svg);
	background-repeat: no-repeat;
	background-position: 8px 8px;
}

.search::after,
.user-input::after,
.cart::after {
	display: block;
	position: absolute;
	top: 20px;
	left: 0px;
	content: '';
	width: 34px;
	height: 30px;
}

.search form {
	display: none;
	position: absolute;
	color: #999;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
	font-weight: normal;
    line-height: 24.3px;
	border: 15px solid #f8f7f4;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 30px 2px rgba(0, 0, 0, 0.35);
	top: 36px;
	left: -237px;
}

.search:hover form {
	display: block;
	z-index: 100;
}

.search input {
	box-sizing: border-box;
	outline: none;
	min-width: 241px;
	border: 1px solid #d3d3d2;
	border-radius: 4px;
	padding-left: 11px;
	line-height: 35px;
}

.user-input {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 0;
	margin-left: 6px;
}

.user-input > a {
	display: block;
	color:#fff;
	text-decoration: none;
	padding: 8px 16px;
	padding-left: 44px;
	background-color: rgba(255, 255, 255, 0.2);
	background-image: url(../img/icons/bg-input.svg);
	background-repeat: no-repeat;
	background-position: 16px center;
	border-radius: 15px;
	font-size: 14px;
}

.user-input:hover > a{
	background-color: #f8f7f4;
	background-image: url(../img/icons/bg-input-hov.svg);
	color: #323232;
	font-weight: 500;
}

.user-input::after{
	top: 20px;
	left: 4px;
	width: 85px;
	height: 30px;
}

.user-input form {
	display: none;
	position: absolute;
	width: 272px;
	padding: 15px;
	padding-top: 20px;
	padding-bottom: 13px;
	color: #999;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
	font-weight: normal;
    line-height: 22.5px;
	background: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 30px 2px rgba(0, 0, 0, 0.35);
	top: 36px;
	left: -180px;
	box-sizing: border-box;
	text-align: left;
	z-index: 10;
}

.user-input:hover > form[name="user-input"] {
	display: block;
	z-index: 100;
}

.user-input input {
	box-sizing: border-box;
	width: 242px;
	margin-bottom: 10px;
	outline: none;
	min-width: 241px;
	border: 1px solid #d3d3d2;
	border-radius: 4px;
	padding-left: 11px;
	line-height: 35px;
}

.user-input__btn {
	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 20px
}

form[name="user-input"] a {
	font-size: 13px;
	color: #333;
}

form[name="user-input"] a:hover {
	color: #ec593c;
}

.cart {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	margin-left: 6px;
}

.cart::after {
	top: 20px;
	left: 4px;
	width: 110px;
	height: 30px;
}

.cart .cart__click{
	display: block;
	vertical-align: top;
	color:#fff;
	text-decoration: none;
	padding: 8px 34px;
	padding-left: 45px;
	background-color: rgba(255, 255, 255, 0.2);
	background-image: url(../img/icons/bg-cart.svg);
	background-repeat: no-repeat;
	background-position: 16px center;
	border-radius: 15px;
	font-size: 14px;
}

.cart:hover  .cart__click {
	color:#f8f7f4;
	background-color: #f8f7f4;
	background-image: url(../img/icons/bg-cart-hov.svg), url(../img/icons/bg-cart-filled.svg);
	background-repeat: no-repeat;
	background-position: 16px center, 20px 10px;
}

.cart:hover  .cart__click::before {
	content:"2 товара";
	position: absolute;
	color:#313131;
}

.cart:hover .cart__list {
	display: block;
	z-index: 100;
}

.cart__list {
	display: none;
	position: absolute;
	padding: 15px;
	background-color: #f8f7f4;
	font-size: 13px;
	color: #333;
	border-radius:5px;
	top: 36px;
	right: 0;
	box-shadow: 0px 20px 30px 2px rgba(0, 0, 0, 0.35);
}

.cart__list table {
	width: 510px;
	border-collapse:collapse;
	text-align: left;
}

.cart__list td {
	padding: 10px 0;
}

.cart__product-del {
	position: relative;
	width: 23px;
	height: 23px;
	border: none;
	background: none;
	outline:none;
	cursor: pointer;
}

.cart__product-del::before,
.cart__product-del::after {
	position: absolute;
	content: '';
	height: 1px;
	width: 14px;
	background: #000;
	left: 0px;
	top: 7px;
}

.cart__product-del::before {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.cart__product-del::after {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.img-product {
	width: 43px;
	
}

.row1 .img-product {
	background: url(../img/products/product-01.png) no-repeat left;
	background-size: 33px 33px;
}

.row2 .img-product {
	background: url(../img/products/product-03.png) no-repeat left 7px;
	background-size: 33px 33px;
}

.cart__product-name {
	width: 245px;
}

.cart__massa {
	width: 7%;
}

.cart__price {
	color: #808080;
}

.cart__list tr:last-child {
	font-size: 15px;
	font-weight: bold;
	color: #333;
}

td[colspan="5"] {
	text-align: right;
	border-top: 1px solid #cacac7;
	padding-top: 15px;
}

td[colspan="5"] + td{
	border-top: 1px solid #cacac7;
	padding-top: 15px;
}

.cart__order {
	float: right;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 10px;
}

.user-block p {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
}

.user-block span {
	font-size: 22px;
	font-weight: 900;
	line-height: 1.5;
}

.breadcrumbs {
	float: left;
	font-size: 14px;
	font-weight: normal;
	margin-top: 20px;
}

.breadcrumbs a {
	color: #fff;
	text-decoration: none;
	margin: 0 7px;
	margin-left: 6px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
	color: #ffbc9e;
	border-color: rgba(255, 188, 158, 0.3);
}

.breadcrumbs a:first-child {
	margin-left: 0;
}

.breadcrumbs span {
	margin-left: 6px;
}




/*                 СЛАЙДЕР           */



.slider {
  position: relative;
  padding-top: 270px;
	margin-bottom: 40px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-main-pic1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-main-pic2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-main-pic3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}


/*                               БННЕРЫ                  */



.banners {
	margin-bottom: 40px;
}

.banners .banner {
	padding: 20px;
	float: left;
	width: 48.9%;
	min-height: 229px;
	border-radius: 15px;
	box-sizing: border-box;
	font-weight: bold;
}

.banners .banner-left {
	background: #7e162c url(../img/bg-banner-raspderry.png) repeat-y center;
}

.banners .banner-right {
	background: #462a1c url(../img/bg-banner-chocolate.png) repeat-y center;
	float: right;
}

.banners b {
	font-size: 35px;
}

.banners p {
	min-height: 65px;
}

.banners .banner__btn {
	font-size: 18px;
	line-height: 34px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}


/*                           ВИТРИНА              */



.showcase,
.contents-directory {
	font-size: 0;
}

.contents-directory {
	margin-bottom: 52px;
}

.product {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 23.5%;
	position: relative;
	margin-right: 2%;
	margin-bottom: 40px;
}

.product:nth-child(4n) {
	margin-right: 0;
}

.image {
	position: relative;
	margin-bottom: 10px;
	background-color: #c5c5c5;
	border-radius: 50%;
}
.image img {
	width: 100%;
}

.flag:before {
	content: '';
	position: absolute;
	width: 61px;
	height: 61px;
	background-image: url(../img/bg-flag.png);
}

.price {
	font-size: 30px;
	line-height: 13.13px;
	font-weight: 500;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
	position: absolute;
	bottom: 14%
}

.price b {
	font-size: 45px;
	font-weight: 500;
}

.product__title {
	display: block;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	width: 93%;
	margin: 0 auto;
}

a.product__title:hover,
a.product__title:hover span,
a.product__title:active,
a.product__title:active span {
	color: #ffbc9e;
	border-color: rgba(255, 188, 158, 0.3);
}

.product span {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	font-weight: 400;
}

.product-hover {
	width: 108.6%;
	height: 131%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.3);
	top:-3%;
	left: 50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	display: none;
	z-index: 10;
}

.product:hover .product-hover{
	display: block;
}

.product-hover__btn {
	display: block;
	position: relative;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	top: 84.5%;
	left: 50%;
	padding-left: 0;
	padding-right: 0;
	width: 194px;
	text-align: center;
}


/*                    СЕО             */


.seo {
	margin-bottom: 40px;
	min-height: 306px;
	font-size: 0;
	background-color: #eee1c5;
	background-image: url(../img/bg-SEOjpg.jpg);
	padding: 2.3%;
	border-radius: 15px;
	box-sizing: border-box;
	color: #323232;
}

.seo__title {
	display: block;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 15px;
}

.seo p {
	display: inline-block;
	width: 48.9%;
	vertical-align: top;
	margin:0;
	margin-bottom: 12px;
	padding-top: 10px;
	padding-left: 7%;
	background-image: url(../img/icons/ice-cream.svg);
	background-repeat: no-repeat;
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	box-sizing: border-box;
}

.seo p:nth-child(2n) {

  margin-right: 2.2%;
}

.seo p:nth-child(3) {
	background-image: url(../img/icons/cow.svg);
	background-repeat: no-repeat;
}

.seo p:nth-child(4) {
	background-image: url(../img/icons/leaf.svg);
	background-repeat: no-repeat;
}

.seo p:nth-child(5) {
	background-image: url(../img/icons/thermometer.svg);
	background-repeat: no-repeat;
}




/*                   БЛОК НОВОСТЕЙ                */




.news-block {
	margin-bottom: 40px;	
}

.news-block__item {
	padding: 20px;
	float: left;
	width: 48.9%;
	min-height: 220px;
	border-radius: 15px;
	box-sizing: border-box;
	font-weight: bold;
}

.news-blog {
	background-color: #fff;
	background-image: url(../img/bg-newsblog.jpg);
	background-repeat: no-repeat;
	background-position: right;
}

.news-blog > b {
	display: block;
	color: #5a5a58;
	font-size: 16px;
	font-weight: normal;
	line-height: 28px;
	padding-top: 2px;
}

.wrapper-link {
	width: 290px;
}

.wrapper-link > a:hover {
	color: #ec593c;
}

.wrapper-link > a:active {
	color: #ec593c;
}

.wrapper-link > a {
	color: #353535;
	font-size: 24px;
	font-weight: bold;
	line-height: 29px;
	background-color: rgba(255, 255, 255, 0.8);
}

.newsletter-subscription {
	float: right;
  background-image: -webkit-repeating-linear-gradient(315deg, #f8f7f4 14px, #92cdff 14px, #92cdff 21px, #f8f7f4 21px, #f8f7f4 28px, #fe9e90 28px, #fe9e90 35px, #f8f7f4 35px, #f8f7f4 42px);
  background-image: repeating-linear-gradient(135deg, #f8f7f4 14px, #92cdff 14px, #92cdff 21px, #f8f7f4 21px, #f8f7f4 28px, #fe9e90 28px, #fe9e90 35px, #f8f7f4 35px, #f8f7f4 42px);
	padding: 5px;
}

.newsletter-subscription form {
	font-size: 16px;
	font-weight: normal;
	line-height: 24.3px;
	background-color: #f8f7f4;
	padding: 16px 5%;
	border-radius: 12px;
}

.newsletter-subscription p {
	color: #5a5a5a;
	line-height: 22px;
	min-height: 89px;
	margin-bottom: 11px;
}

.input-wrapper {
	margin-right: 140px;
}

.newsletter-subscription input {
	outline: none;
	font-family: "Roboto", "Arial", sans-serif;
	color: #5a5a5a;
	font-size: 16px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 9px;
	line-height: 24.3px;
	margin-bottom: 18px;
	width: 100%;

}

.newsletter-btn {
	font-size: 17px;
	font-weight: normal;
	line-height: 33px;
	padding-left: 22px;
	padding-right: 22px;
	float: right;
}



/*                    КАРТА                  */



.map-wrapper {
	margin: 0 auto;
	height: 430px;
	background-color: #efecde;
	background-image: url(../img/bg-map.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.contacts-info {
	position: relative;
	float: right;
	top: 66px;
	width: 302px;
	height: 304px;
	background-color: #fff;
	border-radius: 12px;
	color: #343434;
	font-size: 14px;
	line-height: 20px;
	padding: 25px;
	box-sizing: border-box;
	z-index: 10;
}

.contacts-info .contacts {
	font-size: 18px;
	line-height: 24px;
}

.contacts-info p {
	margin-top: 5px;
	margin-bottom: 18px;
}

p.contacts-tel {
	margin-bottom: 25px;
}

.contacts-tel .contacts {
	line-height: 29px;
}

.contacts-btn {
	position: relative;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	left: 50%;
	font-size: 17px;
	font-weight: 500;
	line-height: 33px;
	padding-left: 32px;
	padding-right: 32px;
	margin: 0 auto;
}






/*КАТАЛОГ ТОАВРОВ*/

.catalog-creamy__title {
	font-size: 35px;
	line-height: 30px;
	margin: 0;
	margin-bottom: 27px;
	letter-spacing: .015em;
}

.catalog-creamy__filter {
	width: 860px;
	font-size: 16px;
	margin-bottom: 28px;
}

.catalog-creamy__filter label {
	font-size: 14px;
}

.filter-sorting {
	width: 196px;
	float: left;
}

.title {
	display:inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 2;
	margin-left: 15px;
}

.sorting__title {
	position: relative;
	width: 100px;
}

.sorting__select {
	position: relative;
	border-color:transparent;
	background-color: rgba(255, 255, 255, 0.2);
	outline: none;
	border-radius: 50px;
	height: 36px;
	width: 194px;
	padding-bottom: 3px;
	padding-left: 15px;
	
  -webkit-appearance: none;
	-o-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
	appearance: none;
  /* for FF */
  text-indent: 0.01px; 
  text-overflow: '';
  /* for IE */
}
.sorting__select::-ms-expand {
  display: none;
}
 
.sorting__title::before {
	content: '';
	display: block;
	position: absolute;
	border-top: 5px solid #fff;
	border-left: 4px solid transparent; 
	border-right: 4px solid transparent; 
	border-bottom: 0px solid transparent;
	left: 155px;
	top: 45px;
}

.sorting__select:hover {
	background-color: #fff;
	color:black;
}

.filter-range {
	width: 220px;
	float: left;
	margin-left: 14px;
}


.filter-range .min-range {
	margin-left: 15px;
}

.filter-range input {
	outline: none;
	border: none;
	background: transparent;
	color: inherit;
	font: inherit;
	padding: 0 2px;
	width: 25px;
	line-height: 2;
}
.range-control {
	position: relative;
	height: 36px;
	width: 218px;
	background-color: rgba(255, 255, 255, 0.2);
	outline: none;
	border-radius: 50px;
}

.range-control .scale {
	position: absolute;
	width: 188px;
	height: 4px;
	background-color: rgba(255, 255, 255, 0.5);
	left: 50%;
	top: 50%;
	margin-left: -94px;
	margin-top: -2px;
}

.range-control .bar {
	height: 4px;
	background-color: #fff;
	margin-left: 15%;
	width: 50%;

}
 
.range-toggle {
	position: absolute;
	width: 21px;
	height: 21px;
	background-color: #fff;
	border-radius: 50%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	cursor: pointer;

}

.pange-taggle--min {
	margin-left: -10px;
	left: 15%;
}

.pange-taggle--max {
	margin-left: 17px;
	left: 50%;

}

.filter-of-fat,
.filter-fillers {
	width: 415px;
	float: left;
	margin-left: 14px;
	margin-bottom: 10px;
}

.filter-of-fat__inner-wrapper,
.filter-fillers__inner-wrapper {
	position: relative;
	height: 36px;
	width: 415px;
	background-color: rgba(255, 255, 255, 0.2);
	outline: none;
	border-radius: 50px;
}
.filter-fillers,
.filter-fillers__inner-wrapper {
	width: 703px;
	margin-left: 0;
}

.filter-of-fat__inner-wrapper input,
.filter-fillers__inner-wrapper input {
	display: none;
}

.filter-of-fat__inner-wrapper label,
.filter-fillers__inner-wrapper label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #f8f7f4;
	margin-left: 15px;
	margin-right:57px;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}

.filter-fillers__inner-wrapper label {
	border-radius: 20%;
}

.filter-fillers__inner-wrapper label::before {
	display: none;
	content: '';
	position: absolute;
	left:3px;
	top:3px;
	width: 10px;
	height: 5px;
	border:3px solid #fff;
	border-top: transparent;
	border-right: transparent;
	-webkit-transform: rotate(deg45);
	transform: rotate(-45deg);
}

.filter-of-fat__inner-wrapper label:hover,
.filter-fillers__inner-wrapper label:hover  {
	box-shadow: 0 0 0 1px #f8f7f4, inset 0 0 0 1px #f8f7f4;
}


label[for="0%"] {
	margin-right: 30px;
}

label[for="10%"],
label[for="30%"] {
	margin-right: 70px;
}

label span {
	font-size: 16px;
	position: absolute;
	left: 6px;
	top:50%;
	-webkit-transform:translateY(-55%);
	transform:translateY(-55%);
	display: block;
	padding-left: 20px;
	width: 80px;
	
}

.filter-fillers__inner-wrapper span {
	left: 11px;
}

label[for="sugar-powder"] span {
	width: 160px;
}

input:checked[id="0%"] ~  label[for="0%"],
input:checked[id="10%"] ~  label[for="10%"],
input:checked[id="30%"] ~  label[for="30%"],
input:checked[id="top30%"] ~  label[for="top30%"] {
	background: -webkit-radial-gradient(circle , #f8f7f4 5px, #aabab0 6px);
	background: radial-gradient(circle , #f8f7f4 5px, #aabab0 6px);
}

input:disabled[id="0%"] ~  label[for="0%"],
input:disabled[id="10%"] ~  label[for="10%"],
input:disabled[id="30%"] ~  label[for="30%"],
input:disabled[id="top30%"] ~  label[for="top30%"],
input:disabled[id="chocolate"] ~  label[for="chocolate"],
input:disabled[id="sugar-powder"] ~  label[for="sugar-powder"],
input:disabled[id="fruit"] ~  label[for="fruit"],
input:disabled[id="syrups"] ~  label[for="syrups"],
input:disabled[id="jams"] ~  label[for="jams"] {
	background: -webkit-radial-gradient(circle , #aabab0 5px, #aabab0 6px);
	background: -webkit-radial-gradient(circle , #aabab0  5px, #aabab0 6px);
	background: radial-gradient(circle , #aabab0  5px, #aabab0 6px);
	box-shadow: 0 0 0 2px rgba(248, 247, 244, 0.4);
	color: rgba(248, 247, 244, 0.4);
}

label[for="chocolate"] {
	margin-right: 112px;
}

label[for="sugar-powder"] {
	margin-right: 167px;
}

label[for="fruit"],
label[for="syrups"] {
	margin-right: 77px;
}

input:checked[id="chocolate"] ~  label[for="chocolate"]::before,
input:checked[id="sugar-powder"] ~  label[for="sugar-powder"]::before,
input:checked[id="fruit"] ~  label[for="fruit"]::before,
input:checked[id="syrups"] ~  label[for="syrups"]::before,
input:checked[id="jams"] ~  label[for="jams"]::before {
	display: block;
}

.btn-filter-form {
	outline: none;
	margin-top: 28px;
	margin-left: 14px;
	background: #aabab0;
	font: inherit;
	box-shadow: inset 0 0 0 2px #fff;
	line-height: 36px;
	padding: 0px 26px;
}

.btn-filter-form:hover {
	background: #fff;
	color: #000;
	box-shadow: none;
}

.btn-filter-form:active {
	background: #ededed;
	box-shadow: inset 0 2px 1px #696969;
}


/*ПАГИНАТОР*/



.paginator {
	width: 210px;
	float: right;
	font: inherit;
	font-size: 0;
	font-weight: 500;
	white-space: nowrap;
	padding: 10px 0;
	margin-bottom: 18px;
}

.paginator a {
	position: relative;
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	min-width: 30px;
	height: 30px;
	text-decoration: none;
	color: #fff;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
}

.paginator a:hover {
	background-color: rgba(255, 255, 255, 0.3);
	color: #fff;
}

.paginator a:active {
	background-color: #fff;
	color: #000;
}

a.prev {
	font-size: 0;
}

a.next {
	font-size: 0;
}
a.next:before,
a.prev:before {
	content: '';
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	top: 10px;
	left: 11.5px;
}

a.next:before {
	-webkit-transform: rotate(135deg) ;
	transform: rotate(135deg);
	left: 7.5px;
}

a.prev:before {
	-webkit-transform: rotate(-45deg) ;
	transform: rotate(-45deg);
}


a.next:active,
a.prev:active{
	background-color: rgba(255, 255, 255, 0.3);
}

a.current,
a.current:hover,
a.current:active {
	background-color: #fff;
	color: #000;
	cursor: default;
}

a.disabled,
a.disabled:hover,
a.disabled:active {
	opacity: .3;
	background: none;
	cursor: default;
}

.catalog-creamy {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/*ПОДВАЛ*/




.main-footer {
	height: 86px;
	padding-top: 14px;
}

.footer-social{
	width: 220px;
	float: left;
	font-size: 0;
	padding-top: 8px;
}

.footer-social a {
	display: inline-block;
	vertical-align: top;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-right: 18px;
	background-repeat: no-repeat;
	box-shadow:  0px 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.footer-social a:hover {
	box-shadow:  0px 0px 0px 4px rgba(255, 255, 255, 91);
}

.footer-social a:active {
	box-shadow:  0px 0px 0px 4px rgba(255, 255, 255, 0.81),
		         inset 0px 2px 1px 0px #888;
}

.social-btn-tw {
	background-image: url(../img/icons/icon-twit.svg);
}

.social-btn-inst {
	background-image: url(../img/icons/icon-inst.svg);
}

.social-btn-vk {
	background-image: url(../img/icons/icon-vk.svg);
}

.social-btn-fb {
	background-image: url(../img/icons/icon-fb.svg);
}

.footer-nav {
	position: absolute;
	left: 50%;
	width: 370px;
	margin-left: -185px;
	float: left;
	font-size: 0;
}

.footer-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}

.footer-nav li {
	display: inline-block;
	vertical-align: top;
	padding-left: 22px;
	font-size: 13px;
	font-weight: normal;
	text-align: right;
	line-height: 22px;
	margin-right: 9px;
}

.footer-nav li:first-child {
	background-image: url(../img/icons/icon-heart.svg);
	background-repeat: no-repeat;
	background-position: 0 center;
	font-weight: bold;
}

.footer-nav li:last-child {
	padding-left: 35px;
}

.footer-nav a {
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-nav a:hover {
	color: #ffbc9e;
	border-color: rgba(255, 188, 158, 0.3);
}

.footer-nav a:active {
	color: #ffbc9e;
	border-color: rgba(255, 188, 158, 0.3);
}

.footer-copyright {
	padding-top: 6px;
	float: right;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
}

.footer-copyright a{
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

a.htmlacademy-logo {
	display: block;
	border: none;
}

.footer-copyright a:hover {
	color: #ffbc9e;
	border-color: rgba(255, 188, 158, 0.3);
}

.footer-copyright a:active {
	color: #ffbc9e;
	border-color: rgba(255, 188, 158, 0.3);
}




/*ПОПАБ ОБРАТНАЯ СВЯЗЬ*/






.form-feedback {
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}

.feedback-popup {
	position: absolute;
	top:338px;
	top: 25.1%;
	left: 50%;
	margin-left: -239px;
	width: 478px;
	height: 442px;
	background-color: #f8f7f4;
	border-radius: 10px;
	z-index: 110;
	color: #343434;
	padding: 15px 25px;
	box-sizing: border-box;
}

.close {
	content: '';
	width: 16px;
	height: 16px;
	position: absolute;
	top: 15px;
	right: 15px;
	background: url(../img/icons/icon-%D0%A5.svg) no-repeat;
	cursor: pointer;
}

.feedback-popup__title {
	font-size: 24px;
	font-weight: 500;
	margin: 0;
}

.wrapper-placeholder {
	position: relative;
}

.feedback-popup label {
	position: absolute;
	top: -34px;
	left: 16px;
	font-size: 16px;
	color: #9a9a9a;
	line-height: 24.3px;
	font-weight: normal;
	-webkit-transition: 0.5s ease all;
	transition: 0.5s ease all;
}

label.placeholder-spam {
	position: absolute;
	top: -165px;
}

.feedback-popup input {
	border: 1px solid rgba(178, 178, 178, 0.51);
	line-height: 24.3px;
	font-size: 16px;
	font-weight: bold;
	color: #353535;
	padding: 9px 15px;
	width: 267px;
	box-sizing: border-box;
	border-radius: 5px;
	margin-top: 20px;
	outline: none;
}

.feedback-popup textarea {
	display: block;
	width: 100%;
  height: 155px;
	border: 1px solid rgba(178, 178, 178, 0.51);
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #353535;
	margin: 20px 0;
	padding: 11px 15px;
	outline: none;
	box-sizing: border-box;
}

.feedback-popup input:hover,
.feedback-popup textarea:hover {
	border-color: rgba(154, 154, 154, 0.52);;
	box-shadow:  0 0 0 1px rgba(154, 154, 154, 0.52);
}

.feedback-popup input:focus,
.feedback-popup textarea:focus {
	border-color: rgba(46, 136, 228, 0.52);
	box-shadow:  0 0 0 1px rgba(46, 136, 228, 0.52);
}

input[name="user-name"]:focus ~ .wrapper-placeholder .placeholder-name,
input[name="user-mail"]:focus ~ .wrapper-placeholder .placeholder-email,
textarea[name="user-spam"]:focus ~ .wrapper-placeholder .placeholder-spam {
	font-size: 11px;
	color: rgba(46, 136, 228, 0.52);
	-webkit-transform: translateY(-32px);
	transform: translateY(-32px);
}

input[name="user-name"]:valid ~ .wrapper-placeholder .placeholder-name,
input[name="user-mail"]:valid ~ .wrapper-placeholder .placeholder-email,
textarea[name="user-spam"]:valid ~ .wrapper-placeholder .placeholder-spam {
	font-size: 11px;
	color: #9a9a9a;
	-webkit-transform: translateY(-32px);
	transform: translateY(-32px);
}

input[name="user-name"]:valid,
input[name="user-mail"]:valid,
textarea[name="user-spam"]:valid {
	border: 1px solid rgba(178, 178, 178, 0.51);
	box-shadow: none;
}

.feedback-popup textarea:focus{}

.feedback-btn {
	font-size: 17px;
	font-weight: normal;
	line-height: 33px;
	float: right;
	padding-left: 26px;
	padding-right: 26px;
	float: right;
}
